version: '3.9'
services:
  backend:
    build: .
    container_name: backend-chas-advance
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev"
