services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: backend-chas-advance-dev
    env_file:
      - ../.env
    ports:
      - '3000:3000'
    volumes:
      - ../src:/app/src:delegated
      - ../package.json:/app/package.json:ro
      - ../package-lock.json:/app/package-lock.json:ro
      - ../src/utilities/swaggerConfig.js:/app/swaggerConfig.js:ro
      - node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
    restart: unless-stopped

volumes:
  node_modules:
